<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="Properties.Settings.phuongbelo_dtConnectionString"
      connectionString="Data Source=123.30.236.230;Initial Catalog=vexedt;User ID=sa;Password=12345aA@;MultipleActiveResultSets=True"
      providerName="System.Data.SqlClient" />
    <add name="Properties.Settings.lggvn_dataConnectionString" connectionString="Data Source=202.124.204.128;Initial Catalog=lggvn_data;Persist Security Info=True;User ID=lggvn_sa;Password=Lggvndata@a"
      providerName="System.Data.SqlClient" />
    <add name="Properties.Settings.lggvn_dataConnectionString1" connectionString="Data Source=202.124.204.128;Initial Catalog=lggvn_data;User ID=lggvn_sa;Password=Lggvndata@a"
      providerName="System.Data.SqlClient" />
    <add name="Properties.Settings.phuongbello_dataConnectionString"
      connectionString="Data Source=NHONS2MIU\SQLEXPRESS;Initial Catalog=phuongbello_data;User ID=sa;MultipleActiveResultSets=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0"/>
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>