.ADC-tree-container     
{ 
    margin: 0px;
    padding: 0px;
}
.ADC-tree-item-on
{ 
    background: #9CBEE7;
    color: black;
    margin-left: 5px; 
    border: 1px solid gray; 
}

.ADC-tree-item a        
{ 
    font-size:13px !important;
    font-family:'Roboto Condensed', sans-serif !important;
    text-decoration: none;
    margin-left: 5px; 
}
.ADC-tree-item a:hover  
{ 
    text-decoration: underline;
    margin-left: 5px; 
}
.ADC-tree-item a:active 
{ 
    background: #9CBEE7;
    color: white;
    text-decoration: none;
    margin-left: 5px; 
}
.ADC-tree-item img      
{ 
    vertical-align: middle;
}
.box-tree{position: absolute; top: 1; left: 1; width: 100%; height:99%; overflow:auto;}